.direnv/
result
result-*

.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/staging/
.Rhistory
.RData
.Ruserdata
*.Rproj
.Rproj.user/

scripts/.jupyter-ld-library-path
